/**
 * File Preview Styles
 */

.file-preview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-tertiary);
    border-radius: var(--radius-md);
    overflow: hidden;
}

.file-preview-image {
    padding: 0;
}

.file-preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-preview-icon {
    padding: var(--space-4);
}

.file-icon {
    font-size: 3rem;
    opacity: 0.8;
}